body,
html {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 28, 28);
  scrollbar-color: rgb(44, 44, 44) rgb(29, 28, 28);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* ::-webkit-scrollbar-button {
  background-color: rgb(29, 28, 28);
} */
::-webkit-scrollbar-track {
  background-color: rgb(29, 28, 28);
}
/* ::-webkit-scrollbar-track-piece {
  background-color: rgb(29, 28, 28);
} */
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: rgb(65, 65, 65);
}
/* ::-webkit-scrollbar-corner {
  background-color: rgb(44, 44, 44);
} */
/* ::-webkit-resizer {
  background-color: rgb(29, 28, 28);
} */

.App {
  width: 100%;
  /* height: 100%; */
  box-sizing: border-box;
  padding: 10px;
}

.main-wrapper {
  display: flex;
  /* justify-content: space-between; */
  font-size: 14px;
  /* height: 100%; */
}

.header {
  color: rgb(194, 194, 194);
  font-size: 22px;
  width: 100%;
  padding: 0px 0px 5px 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-weight: bold;
  border-bottom: 5px solid rgb(60, 0, 129);
  /* height: 100%; */
}

.tickets-list {
  /* margin: 10px; */
  width: 100%;
  height: calc(100vh - 147px);
}

.main-list {
  max-width: 450px;
  width: 100%;
  /* margin: 5px 0; */
  /* padding: 15px 0 0 0; */
}

.tickets-list {
  overflow-y: auto;
}

.find-bar {
  background-color: rgb(29, 28, 28);
  padding: 0 0 10px 0;
  width: 100%;
}

.find-bar__find {
  background-color: rgb(29, 28, 28);
  color: rgb(110, 110, 110);
  font-size: 20px;
  width: 438px;
  outline: none;
  border: 2px solid rgb(44, 44, 44);
  border-radius: 3px;
  padding: 5px;
}

.find {
  box-sizing: border-box;
  width: 100%;
}

.main-list-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(110, 110, 110);
  font-size: 12px;
  background-color: rgb(44, 44, 44);
  padding: 10px 15px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

a,
a:visited {
  color: rgb(194, 194, 194);
  text-decoration: none;
}

.ticket-list-element {
  text-align: left;
  display: flex;
  background-color: rgb(44, 44, 44);
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  color: rgb(194, 194, 194);
}

/* .user-avatar {
  padding: 0 10px;
}

.reported {
  padding: 0 50px;
}

.asset {
  padding: 0 20px;
} */

.selected {
  background-color: rgb(85, 85, 85);
  border-left: 4px solid rgb(60, 0, 129);
}

.detailed-info-container {
  background-color: rgb(44, 44, 44);
  margin: 0px 0px 5px 20px;
  color: rgb(194, 194, 194);
  min-width: 600px;
  width: 100%;
  height: calc(100vh - 100px);
}

.detailed-info__header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 10px 0 10px;
  box-sizing: border-box;
}

.ticket-num {
  color: rgb(110, 110, 110);
}

.span-text {
  color: rgb(194, 194, 194);
  padding: 10px;
}

.updated-date {
  color: rgb(110, 110, 110);
}

.info-block {
  border: 2px solid rgba(24, 24, 24, 0.4);
  margin: 10px;
}

.info-container {
  display: flex;
  padding: 20px;
}

.info-part {
  margin: 30px 24px;
}

.info-block__title {
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(24, 24, 24, 0.4);
  padding: 5px 40px 5px 12px;
}

.info-ava {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.owner-description {
  padding: 13px;
}

.status {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
  height: 20px;
  width: 50px;
  padding: 4px 0 0 0;
  /* display: inline; */
  font-weight: bold;
  text-align: center;
}

.completed {
  color: green;
}

.assigned {
  color: orange;
}

.unassigned {
  color: rgb(70, 70, 70);
}

.grey-text {
  color: rgb(189, 189, 189);
  padding: 3px;
}

.dark-grey-text {
  font-size: 12px;
  color: rgb(110, 110, 110);
  font-weight: bold;
  padding: 3px;
}

.text-grey {
  font-weight: bold;
  color: rgb(140, 140, 140);
  padding: 2px;
}

.text-grey__comment {
  font-size: 12px;
  text-transform: uppercase;
  padding: 2px;
  color: rgb(140, 140, 140);
}

.location {
  display: inline;
  padding: 2px 20px 2px 20px;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 3px;
}

.no-selected {
  box-sizing: border-box;
  text-align: center;
  /* width: 100%; */
  margin: 290px 0;
}
