body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 28, 28);
}

.App {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.main-wrapper {
  display: flex;
  /* justify-content: space-between; */
  font-size: 14px;
}

.header {
  color: rgb(194, 194, 194);
  font-size: 22px;
  width: 100%;
  padding: 0px 0px 5px 10px;
  margin: 0 0 10px 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: bold;
  border-bottom: 5px solid rgb(60, 0, 129);
}

.main-list {
  max-width: 450px;
  width: 100%;
  /* margin: 5px 0; */
  padding: 15px 0;
}

.find-bar {
  background-color: rgb(29, 28, 28);
  padding: 0 0 10px 0;
  width: 100%;
}

.find {
  box-sizing: border-box;
  width: 100%;
}

/* .main-list-header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  color: rgb(194, 194, 194);
  border-bottom: 1px solid black;
} */

.avatar {
  border-radius: 50%;
  max-width: 40px;
}

a,
a:visited {
  color: rgb(194, 194, 194);
  text-decoration: none;
}

.ticket-list-element {
  text-align: center;
  display: flex;
  background-color: rgb(44, 44, 44);
  padding: 5px 10px;
  justify-content: space-between;
  border-bottom: 1px solid black;
  color: rgb(194, 194, 194);
}

.detailed-info-container {
  background-color: rgb(44, 44, 44);
  margin: 5px 5px 5px 20px;
  color: rgb(194, 194, 194);
  width: 100%;
}

.detailed-info {
  display: flex;
  justify-content: space-between;
}

.detailed-info__header {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 20px;
}

.ticket-num {
  color: rgb(110, 110, 110);
}

.span-text {
  color: rgb(194, 194, 194);
  padding: 10px;
}

.updated-date {
  color: rgb(110, 110, 110);
}

.no-selected {
  text-align: center;
  width: 100%;
  margin: 290px 0;
}
